@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: white;
}

body,html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background: #141414 !important;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #141414 !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #252525 !important;
  border-radius: 20px;
  border: 3px solid #141414 !important;
}

*::-webkit-scrollbar-corner {
  display: none;
}
